<launch>
    <param name="/exceed_bot/pid_sample_time" value="0.01"/>
    <param name="/exceed_bot/pid_kp" value="0.02"/>
    <param name="/exceed_bot/pid_ki" value="0.02"/>
    <param name="/exceed_bot/pid_kd" value="0.0"/>
    <param name="/exceed_bot/motor_tps_max" value="12"/>

    <rosparam file="$(find exceed_bot)/config/joy_frsky2.yaml" command="load"/>

    <node pkg="joy" type="joy_node" name="joy1" args="" required="true">
        <param name="dev" value="/dev/input/js0"/>
        <!--<param name="deadzone" value="0.2"/>-->
        <param name="deadzone" value="0.1"/>
        <param name="autorepeat_rate" value="20"/>
    </node>

    <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop"/>

    <node pkg="exceed_bot" type="pid_motor_control" name="pid_motor_control" output="screen" required="true"/>
    <include file="$(find exceed_bot)/launch/rs_aligned_depth.launch"/>
</launch>
