<launch>
    <node pkg="joy" type="joy_node" name="joy1" args="" required="true">
        <param name="dev" value="/dev/input/js0"/>
            <!--<param name="deadzone" value="0.2"/>-->
        <param name="deadzone" value="0.1"/>
        <param name="autorepeat_rate" value="20"/>
    </node>

    <!-- <rosparam file="$(find exceed_bot)/config/joy_gamesir.yaml" command="load"/> -->
    <!-- <rosparam file="$(find exceed_bot)/config/joy_gamesir2.yaml" command="load"/> -->
    <!-- <rosparam file="$(find exceed_bot)/config/joy_frsky.yaml" command="load"/> -->
    <rosparam file="$(find exceed_bot)/config/joy_frsky2.yaml" command="load"/>

    <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop"/>

    <node pkg="exceed_bot" type="pid_motor_control" name="pid_motor_control" output="screen" required="true"/>

    <include file="$(find exceed_bot)/launch/rs_aligned_depth.launch">
    </include>
</launch>
