<launch>
    <node 
        pkg="rosbag" 
        type="record" 
        name="rs2_rosbag_rec" 
        args="-b 512 -o /home/dmaturan/bag_data/tacon /camera/aligned_depth_to_color/camera_info /camera/aligned_depth_to_color/image_raw /camera/color/image_raw /camera/color/camera_info /tf /tf_static /joy /cmd_vel /steer_deg /target_ticks_per_s /ticks_per_s /motor_us"
    />
</launch>
